In [1]:
import pandas as pd

In [2]:
data_violence = pd.read_excel("../data/Original-Datasets/data_cts_violent_and_sexual_crime.xlsx", header=2)

In [3]:
data_violence.head()

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source
0,AZE,Azerbaijan,Asia,Western Asia,Violent offences,by type of offence,Serious assault,Total,Total,2003,Counts,155.0,CTS
1,BEL,Belgium,Europe,Western Europe,Violent offences,by type of offence,Serious assault,Total,Total,2003,Counts,61959.0,CTS
2,BGR,Bulgaria,Europe,Eastern Europe,Violent offences,by type of offence,Serious assault,Total,Total,2003,Counts,3806.0,CTS
3,BHR,Bahrain,Asia,Western Asia,Violent offences,by type of offence,Serious assault,Total,Total,2003,Counts,2701.0,CTS
4,BLR,Belarus,Europe,Eastern Europe,Violent offences,by type of offence,Serious assault,Total,Total,2003,Counts,4032.0,CTS

In [4]:
data_violence["Country"].unique()

array(['Azerbaijan', 'Belgium', 'Bulgaria', 'Bahrain', 'Belarus',
       'Bermuda', 'Brunei Darussalam', 'Canada', 'Switzerland',
       'Cameroon', 'Cyprus', 'Germany', 'Denmark', 'Algeria', 'Ecuador',
       'Finland', 'France', 'United Kingdom (England and Wales)',
       'United Kingdom (Northern Ireland)', 'United Kingdom (Scotland)',
       'Greece', 'China, Hong Kong Special Administrative Region',
       'Croatia', 'Hungary', 'Ireland', 'Japan', 'Kyrgyzstan',
       'Liechtenstein', 'Sri Lanka', 'Lithuania', 'Latvia', 'Morocco',
       'Monaco', 'Montenegro', 'Mongolia', 'Mauritius', 'Netherlands',
       'Norway', 'Portugal', 'State of Palestine', 'Qatar', 'Romania',
       'Singapore', 'Sao Tome and Principe', 'Slovakia', 'Slovenia',
       'Sweden', 'Eswatini', 'Syrian Arab Republic', 'Türkiye', 'Uganda',
       'Ukraine', 'United States of America', 'Zimbabwe', 'Armenia',
       'Austria', 'Barbados', 'Colombia', 'Czechia', 'Georgia',
       'Guatemala', 'India', 'Israel', 'Italy', 'Kuwait', 'Mexico',
       'Mozambique', 'Peru', 'Russian Federation', 'Solomon Islands',
       'Trinidad and Tobago', 'Saint Vincent and the Grenadines',
       'Albania', 'United Arab Emirates', 'Argentina', 'Bangladesh',
       'Bosnia and Herzegovina', 'Bolivia (Plurinational State of)',
       'Spain', 'Estonia', 'Guinea', 'Grenada', 'Jordan', 'Kenya',
       'Republic of Moldova', 'Malaysia', 'Nicaragua', 'Nepal',
       'New Zealand', 'Paraguay', 'Senegal', 'El Salvador', 'Serbia',
       'Thailand', 'Turkmenistan', 'Belize', 'Brazil', 'Chile',
       'Costa Rica', 'Egypt', 'Iceland', 'Kazakhstan',
       'Republic of Korea', 'Luxembourg', 'North Macedonia', 'Panama',
       'Tajikistan', 'Uruguay', 'Andorra', 'Côte d’Ivoire', 'Lesotho',
       'Nigeria', 'Oman', 'Sierra Leone', 'Australia', 'Burundi',
       'Indonesia', 'Iraq (Central Iraq)', 'Lebanon',
       'China, Macao Special Administrative Region', 'Malta',
       'Puerto Rico', 'Rwanda', 'Kosovo under UNSCR 1244', 'Bahamas',
       'Botswana', 'Saint Kitts and Nevis', 'Myanmar', 'Poland',
       'Holy See', 'Yemen', 'Cabo Verde', 'Guyana', 'Jamaica',
       'Madagascar', 'Pakistan', 'Honduras', 'Dominican Republic',
       'Guinea-Bissau', 'Bhutan', 'Dominica', 'Maldives', 'Suriname',
       'United Republic of Tanzania', 'Uzbekistan', 'South Africa',
       'Antigua and Barbuda', 'Saudi Arabia',
       'Venezuela (Bolivarian Republic of)', 'Philippines', 'Benin',
       'Saint Lucia', 'Ghana', 'Haiti', 'Namibia', 'Sudan', 'Timor-Leste'],
      dtype=object)

In [4]:
countries = ["United States of America", "United Kingdom (England and Wales)",
             "United Kingdom (Northern Ireland)", "United Kingdom (Scotland)", 
             "Ireland", "Canada", "New Zealand", "Australia"]

data_filtered = data_violence[data_violence["Country"].isin(countries)]

In [5]:
data_filtered["Country"].unique()

array(['Canada', 'United Kingdom (England and Wales)',
       'United Kingdom (Northern Ireland)', 'United Kingdom (Scotland)',
       'Ireland', 'United States of America', 'New Zealand', 'Australia'],
      dtype=object)

In [6]:
uk_regions = ["United Kingdom (England and Wales)",
             "United Kingdom (Northern Ireland)", "United Kingdom (Scotland)"]

data_filtered.loc[data_filtered["Country"].isin(uk_regions), "Country"] = "UK"
data_filtered.loc[data_filtered["Country"].str.contains("United States of America"), "Country"] = "USA"

In [8]:
data_filtered.to_csv("../data/violence_and_crime.csv", index=False)